<div class="reverse-row">
  <span>
    Player:
    <span>Dan Finlay</span>
  </span>
</div>

<div class="center-row">
  <h1>Half-Elf Warlock</h1>
</div>

<div class="columns">
  <img src="http://placekitten.com/g/300/300">
  <div class="row">

    <h2>Ability Scores</h2>

    <div class="row">
      Strength: +2
    </div>

    <div class="row">
      Constitution: +2
    </div>

    <div class="row">
      Dexterity: +2
    </div>

    <div class="row">
      Intelligence: +2
    </div>

    <div class="row">
      Wisdom: +2
    </div>

    <div class="row">
      Charisma: +2
    </div>

    <div class="row">
      Hit Points: 58
    </div>

    <div class="row">
      Speed: +2
    </div>
  </div>
</div>



<div class="row">
  <div class="center-row"><h2>Defenses</h2></div>
  <div class="columns space-between">
    <span>Armor: 15</span>
    <span>Fortitude: 15</span>
    <span>Reflexes: 15</span>
    <span>Will: 15</span>
  </div>
</div>

  <div class="row">
  <div class="center-row"><h2>Basic Attacks</h2></div>
  <div class="row">
    Short Sword: +2 vs Armor. 1d6+2 damage.
  </div>
  <div class="row">
    Hand Crossbow: +4 vs Armor. 1d6+2 damage.
  </div>
  <div class="row">
    Eldrich Blast: +5 vs Reflex. 1d10+5 damage. Range of 50 feet.
  </div>
</div>

<!-- Note line breaks -->
<br><hr><br>
<hr><br>
<hr><br>

<div class="row">
  <div class="center-row">
    <h2>Skills</h2>
  </div>

  <div class="columns space-between">
    <span class="spill">Arcana: +8</span>
    <span class="spill">Diplomacy: +9</span>
    <span class="spill">Insight: +8</span>
    <span class="spill">Pickpocketing: +7</span>
    <span class="spill">Arcana: +8</span>
    <span class="spill">Diplomacy: +9</span>
    <span class="spill">Insight: +8</span>
    <span class="spill">Pickpocketing: +7</span>
  </div>
</div>

<div class="row">
  <div class="center-row">
    <h2>Languages Known</h2>
  </div>

  <div class="columns space-between">
    <span class="spill">Common</span>
    <span class="spill">Elven</span>
    <span class="spill">Supernal</span>
  </div>
</div>
